<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AxelAula Connector</title>
</head>
<body>
    <h1>AxelAula Connector</h1>
    <h2>Para utilizar con AulaText:</h2>
    Utilizar la ruta reemplazando ID_AULA por el ID del aula
    Ruta: https://aulacon.simpleaxel.com/r/ID_AULA
    <h2>Para utilizar con AulaTTS:</h2>
    Utilizar la ruta reemplazando ID_AULA por el ID del aula
    Ruta: https://aulacon.simpleaxel.com/tts/ID_AULA
</body>
</html>